* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

:root {
    --animation-duration: 800ms;
}

body{
    background-color: #be3231;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* HOMEPAGE */

#homepage {
    height: 100vh;
    background-image: url(/images/poulepoulebackground.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120% auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage h1 {
    font-size: 3rem;
    margin: 1em 0;
    text-align: center;
}

.select-difficulty {
    color: #cccccc;
    border: 1px #cccccc solid;
    background-color: transparent;
    padding: 0.7em;
    font-size: 1em;
}

.select-difficulty-option {
    color: black;
}

.homepage-form {
    background-color: rgba(0,0,0,0.6);
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    font-size: 1rem;
    /* -webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.66); 
    box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.66); */
}

.homepage-form h2 {
    font-size: 1.5em;
    color: #e6e6e6;
    margin-bottom: 1em;
}

.homepage-form input[type="text"] {
    border: none;
    border-bottom: 1px solid #cccccc;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1em;
}

.homepage-form input[type="text"]::placeholder {
    color: #cccccc;
}

.homepage-form button {
    margin-left: 2rem;
    background-color: #990000;
    color: #cccccc;
    border: none;
    font-size: 1em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

.homepage-form button:hover {
    background-color: #660000;
}

.homepage-form div {
    margin-bottom: 1em;
}

.homepage-form div:first-child {
    margin-bottom: 2em;
}

.homepage-form div:last-child {
    border-top: 2px solid lightgrey;
    padding-top: 2rem;
    margin-bottom: 0;
}

/* GAME PAGE */

#gamepage {
    display: none;
    width: 80%;
}

#gamepage .game-container {
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* hide scrollbar for Internet Explorer, Edge */
    scrollbar-width: none;
    padding: 20px 0;
}

.menu-container {
    display: none;
}

#gamepage .menu {
    display: flex;
    justify-content: space-around;
}

#gamepage .menu-container li {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

#gamepage .menu-container li.active {
    color: #fbcfaf;
}

#gamepage .settings {
    display: none;
    flex-direction: column;
    align-items: center;
}

#gamepage .settings .cards-settings img {
    width: 125px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 12px;
}

#gamepage .game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#gamepage .menu-content {
    display: none;
}

#gamepage .menu-content.active {
    display:flex;
}
/* hide scrollbar for chrome, firefox, opera...*/
#gamepage .game-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#gamepage .cards-settings input {
    display: none;
}

#gamepage .cards-settings input:checked + label::after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

#gamepage .cards-settings input + label::after {
    content: '';
    position: absolute;
    width: 100%; height:98.7%;
    top:0; left:0;
    background:rgba(0,0,0,0.4);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    border-radius: 12px;
}

.cards-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
}

.cards-settings label {
    display: inline-block;
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

#gamepage .players-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #fbcfaf;
    color: black;
    font-size: 1.2rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    overflow-y: scroll;
}

#gamepage .players-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#gamepage button {
    background-color: #990000;
    color: #cccccc;
    border: none;
    font-size: 1em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}
 #gamepage button:hover {
    background-color: #660000;
 }

.players-container #host-game-div,
.players-container #game-code-div {
    padding: 1rem;
    border-bottom: 1px solid black;
}

.players-container .player {
    padding: 1rem;
}

.players-container .player:first-child {
    margin-top: 1rem;
    padding: 1rem;
}

.player {
    font-size: 1.2em;
    font-weight: bold;
}

.player-name {
    margin-right: 1rem;
}

.tableGame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 800px;
    max-height: 370px;
    min-height: 370px;
    border: 3px solid #E2A488;
    overflow: hidden;
    border-radius: 5px;
    background-color: #E2A488;
    position: relative;
    margin: 20px 0 80px 0;
    z-index: -5;
}

.tableGame .count {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0; 
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;
}

.tableGame .count-number {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    transform-origin: center;
    animation: scale-in linear 0.7s;
    animation-fill-mode: forwards;
    z-index: 15;
}

.tableGame .results {
    position: absolute;
    width: 80%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    color: #e6e6e6;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 1rem;
    z-index: 30;
}

.tableGame .winner-message {
    margin-bottom: 1.5rem
}

.tableGame .canard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    opacity: 0;
}

.tableGame .canard-container img {
    height: 60%;
    width: auto;
}

.coq-container {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 2rem 0;
    margin: 3rem 0;
}

.coq-container .counter {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 2rem;
}

.coq-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 1rem;
}

.coq-container form input {
    margin: 1rem 0;
}

.game-configuration p {
    font-size: 1.3rem;
    width: 70%;
    margin: 1.5rem auto;
}

.change-difficulty {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-difficulty h2 {
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.change-difficulty select {
    background-color: rgba(0,0,0,0.6);
}

.change-difficulty .select-difficulty-option {
    background-color: white;
}

#card {
    height: 350px;
    width: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
}

#gamepage #stop-btn {
    font-size: 2rem;
}

.omelette{
    /* width: 100%;
    height: 100%; */
    background-image: url(/images/omelette.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}


.carte_out{
    animation: transition-out cubic-bezier(0,.86,1,-0.02);
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
}


@keyframes transition-out{
    0% {
        bottom: 200%;
    }
    100%{
        bottom: -230%;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@media all and (max-width: 1200px) {
    #gamepage {
        width: 80%;
    }
}

@media all and (max-width:1000px){
    #gamepage .players-container {
        font-size: 1rem;
        width: 30%;
    }
    #gamepage .results {
        font-size: 1rem;
    }
    #homepage {
        width: 70%;
    }
    .homepage-form {
        font-size: 0.8rem;
    }
   
}

@media all and (max-width: 700px) {
    
@keyframes transition-out{
    0% {bottom: 215%;}
    100%{bottom: -215%;}
}
    .container {
        min-height: 100vh;
        height: auto;
    }
    #homepage {
        width: 100%;
    }
    #gamepage {
        flex-direction: column;
        width: 100%;
    }
    #gamepage .players-container {
        width: 100%;
        font-size: 0.8rem;
        overflow-y: visible;
    }
    #gamepage .game-container {
        overflow-y: visible;
    }
    #gamepage .game-info {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid black;
    }
    .players-container #host-game-div,
    .players-container #game-code-div {
        border:none;
        padding: 0.5rem;
    }
    #gamepage .player {
        border: none;
        margin-top: 0;
        padding: 0.5rem 1rem;;
    }
    #gamepage .player-name {
        margin-right: 0.5rem;
    }
    #card {
        height: 200px; 
    }
    #gamepage .game {
        width: 100%;
    }
    #gamepage .results, .coq-container form {
        font-size: 0.8rem;
    }
    .tableGame {
        min-height: 300px;
        max-height: 300px;
        width: 75%;
    }
    #gamepage button {
        font-size: 0.8rem;
    }
    #gamepage #stop-btn {
        font-size: 1.6rem;
    }
    #gamepage .menu-container li {
        font-size: 1.3rem;
    }
    .game-configuration p {
        font-size: 1rem;
        width: 85%;
    }
    #gamepage .settings .cards-settings {
        width: 95%;
    }
    #gamepage .settings .cards-settings label {
        margin: 0.5rem;
    }
    #gamepage .settings .cards-settings label img {
        width: 70px;
    }
}

@media all and (max-width: 500px) {
    #homepage {
        background-size: 150% auto;
    }
    #homepage h1 {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 390px) {
    #homepage {background-size: 190% auto}
    .homepage-form {
        font-size: 0.7rem;
        padding: 1rem;
    }
    #homepage h1 {
        font-size: 2rem;
    }
    .homepage-form div {
        display: flex;
        flex-direction: column;
    }
    .homepage-form button {
        margin: 1rem 0;
    }
}